@charset "utf-8";
   ul#menu {
    width: 170px; /* Ширина меню */
	line-height: 35px;
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
   }
   li ul#menu {  
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-left: 170px; /* Сдвигаем подменю вправо */
    margin-top: -20em; /* Сдвигаем подменю вверх */
	line-height:normal;
   }
   li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #FFF; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: #3554FF; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
   }
   li a:hover {
    color: #000; /* Цвет текста активного пункта */
    background-color: #FFFFFF; /* Цвет фона активного пункта */
   }
   li:hover ul#menu { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
   }
   .brd {
    border-bottom: 1px solid #ccc; /* Линия снизу */
   }
   li#link a{
	   			display:compact;
				background-color:#FFF;
				color:#009;
				border: none;
   }


